body{
	height: 100%
}
#main{
	height: 100%;
}

.mauto{
	margin: auto
}

.margintop10{
	/*margin-top: 10%*/
}

td,th{
	border:1px solid #DDD;
}

.hide{
	display: none;
}

.pointer{
	cursor: pointer;
}

.mdl-data-table__cell--non-numeric{
    min-width: 205px;
    max-width: 225px;
    
}

.mdl-data-table td{
	padding: 0px 8px;
}
.mdl-data-table th{
	padding: 0px 8px;
}

.fr{
	float: right;
}
.width0{
	display: none !important;
}
.mtl2{
	margin-top: 2px;
	margin-left: 6px
}

.tacenter{
	text-align: center !important;
}

.lgrey{
	background-color: #EEE
}

.mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
    padding-left: 0px;
}
.mdl-data-table th:first-of-type, .mdl-data-table th:first-of-type {
    padding-left: 0px;
}

.mdl-data-table tbody tr {
    height: 40px;
    line-height: 13px;
}

.mdl-data-table td {
    height: 40px;
}
.mdl-data-table th {
    height: 40px;
}

.color888{
	color: #888
}

.paperError{
	width: 87%;
    height: 50px;
    position: absolute;
    left: 14px;
    z-index: 1;
    top: 40px;
    border-radius: 8px !important;
    color:red;
}

.abstext {
    position: relative;
}

.jsonmodal{
	width: 500px !important;
	height: 360px !important;
}
.ml5{
	margin-left: 5px;
}
.previewImage{
	width: 100px;
	height: 100px;
	width: 400px;
    height: 223px;
    margin-left: 15px;
}
.dropFile{
	width: 200px;
    height: 223px;
    border: 2px dashed rgb(102, 102, 102);
    border-radius: 5px;
	float: left;
}

.clearboth{
	clear: both;
}
.mt10{
	margin-top: 10px
}
.previewSmallImage{
	width: 30px;
	height: 30px;
	margin-left:15px; 
}

#dataHeader{
	height: 70px;
    background-color: #158AE5;
}

#dataSubHeader{
	height: 45px;
    background-color: #5BAEED;
}

#datatable{
	height: 80%;
	width: 100%;
	overflow-x: scroll;
}
#reactmain{
	height: 100%
}
.appname{
	margin: auto;
    text-align: center;
    color: white;
    font-size: 22px;
    padding-top: 8px;
}
.subhbtn{
	height: 37px;
    margin-top: 4px;
    margin-left: 1px;
    border-radius: 2px;
    background-color: #DEEFFB;
}
.subhbtnpop{
	height: 37px;
    margin-top: 4px;
    margin-left: 1px;
    border-radius: 2px;
    background-color: #DEEFFB;
    width: 220px
}
.ml5{
	margin-left: 5px !important;
}
.mr2{
	margin-right: 2px
}
.popupshowhideleft{
	width: 85px;
    height: 30px;
    margin-top: 6px;
    margin-left: 19px;
    background-color: white;
    border: 1px solid #DDD;
    margin-bottom: 10px
}
.popupshowhideright{
	width: 85px;
    background-color: white;
    border: 1px solid #DDD;
    height: 30px;
    margin-top: 6px;
    margin-left: 14px;
    margin-bottom: 10px
}

.popuphidecol{
	width: 220px !important;
	background-color: white;
}
.checkselect{
	margin-top: 6px !important;
    float: left !important;
    margin-right: 3px !important;
}
.parapop{
	margin-left: 20px !important;
    padding: 0px;
    margin: 0;
    margin-top: 2px !important;
}
.pb7{
	padding-bottom: 7px !important;
}
.searchheading{
    float: right;
    font-size: 30px !important;
    color: white;
    margin-top: 4px;
    margin-right: 12px;
}
.userLogoheadng{
    float: right;
    font-size: 30px !important;
    color: white;
    margin-top: -23px;
    margin-right: 12px;
}
.logoCB{
    float: left;
    width: 28px;
    margin-left: 6px;
    margin-top: 6px;
}

.checkStyle{
    margin-left: -11px !important;
}
.plusrow{
    float: left;
    margin-left: 18px;
}
.tdplus{
    padding-right: 0px !important;
}
.mlm11{
    margin-left: -11px;
}
.popupfilterrrow{
    width: 600px !important;
    background-color: white;
    min-height: 150px;
}
.selectfilter{
    float: left;
    width: 110px;
    height: 29px;
    border-radius: 1px;
    border: 1px solid #EEE;
}
.filterrow{
        padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-top: 0px;
    height: 31px;

}
.addfilter{
        width: 400px;
    height: 27px;
    margin-left: 15%;
    border: 1px solid #DDD;
    line-height: 1px;
}
.inputfilter{
    float: left;
    width: 220px;
    height: 29px;
    border-radius: 1px;
    border: 1px solid #EEE;
}
.filterclose{
        font-size: 22px !important;
    margin-top: 2px;
    cursor: pointer;
    margin-right: 14px;
    float: left;
}
.boolfilter{
    height: 20px !important;
}
.listfilterrows{
    float: left;
    display: inline;
    width: 222px !important;
}
.listfilteradd{
    float: left;
    font-size: 18px !important;
    margin-left: 4px;
    margin-top: 6px;
    cursor: pointer;
}
.inputfilterlist{
    float: left;
    width: 200px;
    height: 29px;
    border-radius: 1px;
    border: 1px solid #EEE;
}
.inputfilterlistValues{
    margin-left: 3px;
    margin-bottom: 0px;
    width: 199px !important;
    float: left;
}
.divadditionallist{

}
.minuslist{
    float: left;
    /* font-size: 14px !important; */
    margin-top: 6px;
    margin-left: 6px;
    cursor: pointer;
}
.listtexttableinput{
    width: 500px;
    padding: 3px;
    margin-top: 5px;
}
.addtextrecord{
    width: 400px;
    /* margin: auto; */
    margin-left: 20%;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 5px;
}
.trashlistinputtext{
    margin-left: 5px;
    font-size: 20px !important;
    cursor: pointer;
}
.fileListPreveiew{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 10px;
    margin-top: 40px;
}
.savecanclist{
    float: right;
    width: 100%;
    margin-top: 20px;
}
.deletefilelist{
    float: left;
    margin-left: -21%;
    width: 153px;
    margin-top: 14px;
    background-color: white;
    border: 1px solid #DDD;
}
.dropFileList{
    width: 150px;
    height: 175px;
    border: 2px dashed rgb(102, 102, 102);
    border-radius: 5px;
    float: left;
    margin-top: 15px;
    margin-right: 20px;
}
.datetimelist{
    width: 500px;
    padding: 3px;
    margin-top: 5px;
    border: 1px solid #EEE;
}
.datedeletebt{
    float: right;
    margin-top: -4%;
    font-size: 20px !important;
    margin-right: -25px;
    cursor: pointer;
}
.dateml{
    margin-left: 10px;
    cursor: pointer;
}