body{
	height: 100%
}
#main{
	height: 100%;
}

.mauto{
	margin: auto
}

.margintop10{
	/*margin-top: 10%*/
}

td,th{
	border:1px solid #DDD;
}

.hide{
	display: none;
}

.pointer{
	cursor: pointer;
}

.mdl-data-table__cell--non-numeric{
    min-width: 205px;
    max-width: 225px;
    
}

.mdl-data-table td{
	padding: 0px 8px;
}
.mdl-data-table th{
	padding: 0px 8px;
}

.fr{
	float: right;
}
.width0{
	display: none !important;
}
.mtl2{
	margin-top: 2px;
	margin-left: 6px
}

.tacenter{
	text-align: center !important;
}

.lgrey{
	background-color: #EEE
}

.mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
    padding-left: 0px;
}
.mdl-data-table th:first-of-type, .mdl-data-table th:first-of-type {
    padding-left: 0px;
}

.mdl-data-table tbody tr {
    height: 40px;
    line-height: 13px;
}

.mdl-data-table td {
    height: 40px;
}
.mdl-data-table th {
    height: 40px;
}

.color888{
	color: #888
}

.paperError{
	width: 178px;
    height: 50px;
    position: absolute;
    left: 10px;
    z-index: 1;
    top: 40px;
    border-radius: 2px !important;
    word-wrap: break-word;
    white-space: initial;
    text-align: center;
    border: 1px solid red;
}

.abstext {
       color: #EA4747;
    font-size: 14px;
}

.jsonmodal{
	width: 500px !important;
	height: 360px !important;
}
.ml5{
	margin-left: 5px;
}
.previewImage{
	width: 100px;
	height: 100px;
	width: 400px;
    height: 223px;
    margin-left: 15px;
}
.dropFile{
	width: 200px;
    height: 223px;
    border: 2px dashed rgb(102, 102, 102);
    border-radius: 5px;
	float: left;
}

.clearboth{
	clear: both;
}
.mt10{
	margin-top: 10px
}
.previewSmallImage{
	width: 30px;
	height: 30px;
	margin-left:15px; 
}

#dataHeader{
	height: 70px;
    background-color: #158AE5;
}

#dataSubHeader{
	height: 50px;
    background-color: #5BAEED;
    /* padding: 0px; */
    padding-top: 3px;
}

#datatable{
	    min-height: 80%;
    width: 100%;
    overflow-x: scroll;
}
#reactmain{
	height: 100%
}
.appname{
	margin: auto;
    text-align: center;
    color: white;
    font-size: 22px;
    padding-top: 8px;
}
.subhbtn{
	height: 37px;
    margin-top: 4px;
    margin-left: 1px;
    border-radius: 2px;
    background-color: #DEEFFB;
}
.subhbtnpop{
	height: 37px;
    margin-top: 4px;
    margin-left: 1px;
    border-radius: 2px;
    background-color: #DEEFFB;
    width: 220px
}
.ml5{
	margin-left: 5px !important;
}
.mr2{
	margin-right: 2px
}
.popupshowhideleft{
	width: 85px;
    height: 30px;
    margin-top: 6px;
    margin-left: 19px;
    background-color: white;
    border: 1px solid #DDD;
    margin-bottom: 10px
}
.popupshowhideright{
	width: 85px;
    background-color: white;
    border: 1px solid #DDD;
    height: 30px;
    margin-top: 6px;
    margin-left: 14px;
    margin-bottom: 10px
}

.popuphidecol{
	width: 220px !important;
	background-color: white;
}
.checkselect{
	margin-top: 6px !important;
    float: left !important;
    margin-right: 3px !important;
}
.parapop{
	margin-left: 20px !important;
    padding: 0px;
    margin: 0;
    margin-top: 2px !important;
}
.pb7{
	padding-bottom: 7px !important;
}
.searchheading{
    float: right;
    font-size: 23px !important;
    color: white;
    margin-top: 9px;
    margin-right: 12px;
}
.userLogoheadng{
    float: right;
    font-size: 30px !important;
    color: white;
    margin-top: -23px;
    margin-right: 12px;
}
.userHelpheadng{
    float: right;
    font-size: 20px !important;
    color: white;
    margin-top: -17px;
    margin-right: 12px;
}
.logoCB{
    float: left;
    width: 28px;
    margin-left: 6px;
    margin-top: 6px;
}

.checkStyle{
    float: left !important;
    margin-left: -11px !important;
}
.plusrow{
    float: left;
    margin-left: 18px;
}
.tdplus{
    padding-right: 0px !important;
}
.mlm11{
    margin-left: -11px;
        margin-bottom: 6px;
}
.popupfilterrrow{
    width: 600px !important;
    background-color: white;
    min-height: 150px;
}
.selectfilter{
    float: left;
    width: 110px;
    height: 29px;
    border-radius: 1px;
    border: 1px solid #EEE;
}
.filterrow{
        padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin-top: 0px;
    height: 31px;

}
.addfilter{
        width: 400px;
    height: 27px;
    margin-left: 15%;
    border: 1px solid #DDD;
    line-height: 1px;
}
.inputfilter{
    float: left;
    width: 220px;
    height: 29px;
    border-radius: 1px;
    border: 1px solid #EEE;
}
.filterclose{
        font-size: 22px !important;
    margin-top: 2px;
    cursor: pointer;
    margin-right: 14px;
    float: left;
}
.boolfilter{
    height: 20px !important;
}
.listfilterrows{
    float: left;
    display: inline;
    width: 222px !important;
}
.listfilteradd{
    float: left;
    font-size: 18px !important;
    margin-left: 4px;
    margin-top: 6px;
    cursor: pointer;
}
.inputfilterlist{
    float: left;
    width: 200px;
    height: 29px;
    border-radius: 1px;
    border: 1px solid #EEE;
}
.inputfilterlistValues{
    margin-left: 3px;
    margin-bottom: 0px;
    width: 199px !important;
    float: left;
}
.divadditionallist{

}
.minuslist{
    float: left;
    /* font-size: 14px !important; */
    margin-top: 6px;
    margin-left: 6px;
    cursor: pointer;
}
.listtexttableinput{
    width: 500px;
    padding: 3px;
    margin-top: 5px;
}
.addtextrecord{
    width: 480px;
    /* margin: auto; */
    margin-left: 14%;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid #CCC;
    border-radius: 2px;
    height: 30px;
    background: #E6EAF9;
}
.trashlistinputtext{
    margin-left: 5px;
    font-size: 20px !important;
    cursor: pointer;
}
.fileListPreveiew{
    width: 150px;
    height: 150px;
    float: left;
    margin-left: 10px;
    margin-top: 40px;
}
.savecanclist{
    float: right;
    width: 100%;
    margin-top: 20px;
}
.deletefilelist{
    float: left;
    margin-left: -21%;
    width: 153px;
    margin-top: 14px;
    background-color: white;
    border: 1px solid #DDD;
}
.dropFileList{
    width: 150px;
    height: 175px;
    border: 2px dashed rgb(102, 102, 102);
    border-radius: 5px;
    float: left;
    margin-top: 15px;
    margin-right: 20px;
    padding: 16px;
}
.datetimelist{
    width: 500px;
    padding: 3px;
    margin-top: 5px;
    border: 1px solid #EEE;
}
.datedeletebt{
    float: right;
    margin-top: -4%;
    font-size: 20px !important;
    margin-right: -25px;
    cursor: pointer;
}
.dateml{
    margin-left: 10px;
    cursor: pointer;
}
.cp{
    cursor: pointer !important;
}
.popupsearchcol{
    width: 240px !important;
    background-color: white;
    height: 42px;
}
.searchinputpop{
    width: 200px;
    height: 38px;
    margin-top: 2px;
    margin-left: 3px;
    border: 1px solid #DDD;
}
.searchclose{
    font-size: 22px !important;
    margin-left: 10px;
}
.headertablecrud{
    height: 25px;
    background-color: #5BAEED;
    margin-top: 13px;
    position: absolute;
}
.tableselected{
    height: 100%;
    min-width: 110px;
    max-width: 200px;
    float: left;
}
.tablenotselected{
    height: 100%;
    min-width: 110px;
    max-width: 200px;
    background-color: #C4E2F9;
    float: left;
    margin-left: 1px;
}
.white{
    color: white
}
.tableadd{
    height: 100%;
    width: 30px;
    background-color: #C4E2F9;
    float: left;
    margin-left: 1px;
}
.addicoontable{
    margin-left: 9px;
    margin-top: 5px;
}
.popupaddtable{
    width: 150px !important;
    background-color: white;
    height: 60px;
}
.inputaddtable{
    width: 146px;
    height: 28px;
    margin-top: 2px;
    margin-left: 2px;
    border: 1px solid #DDD;
}
.addtablebutton{
    width: 146px;
    height: 28px;
    margin-left: 2px;
    border: 0;
    color:white;
    background-color: #5BAEED;
}
.popupdeletetable{
    width: 150px !important;
    background-color: white;
    height: 30px;
}
.deletetablebtn{
    width: 146px;
    height: 28px;
    margin-left: 2px;
    border: 0;
    color: white;
    background-color: #DE5163;
    margin-top: 1px;
}
.addcolumns{
    font-size: 15px !important;
    min-width: 205px;
    max-width: 225px;
}
.mdl-data-table th {
   min-width: 205px;
    max-width: 225px;
}

.tdtrcheck{
    min-width: 50px !important;
}
.mr12{
    margin-right: 12px
}
.tdtrcheck:hover{
    background-color: #EEE;
    cursor: pointer;
}
.popupaddcolumns{
    width: 225px !important;
    background-color: white;
    min-height: 200px;
    background-color: #F9F7F7 !important;
}
.addcoldiv{
    width: 100%;
    /* min-height: 80%; */
    min-height: 170px;
    float: left;
}
.addcolinput{
        width: 99%;
    height: 35px;
    border: 3px solid #DDD;
    margin-left: 1px;
    border-radius: 4px;
}
.addcol{
    width: 50%;
    /* margin-top: 3px; */
    border: 0;
    height: 29px;
    background-color: #5BAEED;
    color: white;
}
.delcol{
     width: 50%;
    /* margin-top: 3px; */
    border: 0;
    height: 29px;
    background-color: #DE5163;
    color: white;
}
.addcolselect{
    width: 85%;
    height: 30px;
    border: 1px solid #DDD;
    margin-left: 16px;
    border-radius: 1px;
}
.paddcolumns{
    text-align: center;
    height: 5px;
    margin-top: 4px;
    font-size: 12px;
}

.paddcolumnsfl{
        float: left;
    margin-left: 22px;
    margin-top: 10px;
}
.paddcolumnsfr{
    float: left;
    margin-right: 18px;
    margin-top: 10px;
    margin-left: 10px;
}
.checkStyleaddcolfl{
    float: left;
    width: 18% !important;
    margin-top: 10px;
}
.checkStyleaddcolfr{
    float: left;
    width: 18% !important;
    margin-left: -14px;
    margin-top: 10px;
}
.mr10{
    margin-right: 10px;
}
.relationselectordiv{
        height: 390px;
    /* overflow-y: scroll; */
    /* width: 100%; */
    overflow-y: scroll;
}
.searchrelation{
        width: 100%;
    height: 35px;
    border: 1px solid #CCC;
    border-radius: 3px;
}
.tabledatadiv{
        margin-top: 3px;
    /* border: 1px solid #DDD; */
    background-color: whitesmoke;
    padding: 10px;
    float: left;
    border-radius: 6px;
    width: 100%;
    padding: 0;
    padding-left: 10px;
}
.idrelationslector{
        font-size: 20px !important;
    color: black;
}
.createdatrelationslector{
    float: left;
    margin-right: 32px; 
}
.updatedatrelationslector{
    float: left;
    margin-right: 32px;
}
.cancelselctrela{
        float: right;
    width: 100%;
    margin-top: 8px;
}
.textRaltion{
    float: left;
    width: 49%;
    height: 38px;
    margin-top: 26px;
}
.textnamerlation{
    float: left;
    margin-top: -21px;
    color: #5A5656;
    font-weight: bolder;
    font-size: 16px;
}
.textinputrltion{
    float: left;
    border: 1px solid #DDD;
    width: 90%;
    height: 30px;
    padding: 5px;
}
.aclrow{
    width: 100%;
    float: left;
    height: 45px;
    border-bottom: 1px solid #CCC;
    padding: 10px;
    background-color: #E2E7EC;
}
.logoaclrow{
    font-size: 20px !important;
    margin-top: 2px;
    float: left;
}
.textaclrow{
    float: left;
    font-size: 15px;
    margin-left: 20px;
}
.aclrowcheckbox{
    float: right;
    width: 40px !important;
}
.readwitetext{
    float: right;
    margin-left: 0px;
    margin-right: 10px;
}
.cancelaclrow{
    float: right;
    font-size: 20px !important;
    margin-top: 1px;
    margin-left: 10%;
    cursor: pointer;
}
.selectautoacl{

}
.aclrowpublic{
    margin-bottom: 5px;
    border: 2px solid #6091EF;
    width: 100%;
    float: left;
    height: 45px;
    padding: 10px;
    background-color: #D4E5F7;
}
.mr92{
        margin-right: 92px;
}
.halfreldiv{
    width: 44%;
    height: 30px;
    float: left;
    border: 1px solid #DDD;
    margin-top: 25px;
    margin-right: 5%;
}
.relationrowcheckbox{
    float: left;
    width: 31px !important;
    margin-left: 43%;
    margin-top: 1px;
}
.filerle{
        margin-right: 20px;
    margin-top: 5px;
}
.listrelationdiv{
    width: 93%;
    min-height: 60px;
    float: left;
    border: 1px solid #DDD;
    margin-top: 25px;
    margin-right: 5%;
}
.buttonlstrelation{
    width: 86%;
    margin-left: 7%;
    height: 69%;
    margin-top: 9px;
    color: black;
    background-color: #E0E6EA;
    border: 0;
    font-size: 20px;
}
.buttonlstrelationacl{
       width: 69%;
    margin-left: 28%;
    /* height: 62%; */
    margin-top: -5px;
    color: black;
    background-color: #E0E6EA;
    border: 1px solid #AAA;
    font-size: 20px;
    height: 31px;
}
.listdivrel{
    max-height: 300px;
    overflow-y: scroll;
    padding-bottom: 10px;
    padding-left: 3px;
}
.halfreldivfile{
    width: 93%;
    min-height: 100px;
    float: left;
    border: 1px solid #DDD;
    margin-top: 25px;
    margin-right: 5%;
}
.previewSmallImagerelation{
        width: 280px;
    height: 160px;
    margin-left: 28%;
    margin-bottom: 10px;
}
.spanrelcustom{
        color: #888;
    padding: 12px;
    /* padding-top: 10px; */
    /* margin-bottom: -7px; */
    font-size: 17px;
    color: black;
    /* margin-top: 4px; */
}
.overlayrelation{
    opacity: 0 !important;
    transition: none !important;
}
.tsnnone{
    transition: none !important;
}
.relationtextrlation{
    color: #888;
    font-size: 20px;
}
.relationchangerelaion{
    width: 26%;
    /* margin-left: 28%; */
    /* height: 62%; */
    margin-top: 13px;
    color: black;
    background-color: #E0E6EA;
    border: 1px solid #AAA;
    font-size: 20px;
    height: 31px;
    margin-right: 10px;
}
.modaltitle{
        background-color: #158AE5;
    color: white !important;
    /* padding-bottom: 18px !important; */
    margin-bottom: 4px !important;
}
.btn-danger,.btn-danger:hover,.btn-danger:active,.btn-danger::selection {
    color: #fff;
    /* background-color: #E28784; */
    /* border-color: #DA9390; */
    border: 1px solid #C1BDBD !important;
    color: #4A4747 !important;
    background-color: white !important;
    width: 100px;
}

.btn-primary,.btn-primary:hover,.btn-primary:active,.btn-primary::selection{
    color: #fff !important;
    background-color: #158AE5 !important;
    border-color: #2e6da4 !important;
    width: 100px;
}
.btn-success,.btn-success:hover,.btn-success:active,.btn-success::selection{
    width: 100px;
}
.taleft{
    text-align: left !important;
}
.colicon{
    font-size: 15px !important;
    margin-right: 5px;
}
.colname{
    font-size: 12px;

}
.addnewrow:hover{
    background-color: black;
    cursor: pointer;
}
.secondayoverlap{
    position: absolute;
    top: 120px;
    left: 0;
     box-shadow: none !important; 
    /*box-shadow: 0 0px 0px 0 rgba(0,0,0,.14),0 0px 0px -2px rgba(0,0,0,.2),0 0px 0px 0 rgba(0,0,0,.12);*/
    border-right: 2px solid #5BAEED;
}
.addcolthbtn{
    position: absolute !important;
    padding: 8px !important;
    -webkit-box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.75);
box-shadow: 2px 0px 5px -2px rgba(0,0,0,0.75);
    margin-top: -2px !important;
    margin-left: 0px !important;
    border-left: 0 !important;
}
.tdselected{
    border: 2px solid #5BAEED !important;
    background-color: #EBF7FF;
}
.columnpop{
    width: 200px !important;
    min-height: 100px !important;
    background-color: white;
}
.coloptbtn{
        width: 100%;
    border: 1px solid #EEE;
    height: 35px;
    background-color: #FFFFFF;
    color: #3E3838;
    margin-top: 1px;
}
.savebtneditablecol{
    width: 100%;
    height: 32px;
    margin-top: 8px;
    border: 0;
    color: white;
    background-color: #5BAEED;
}
.checkeditcol{
    padding: 1px;
    margin-top: 0px;
}

.mdl-data-table__cell--non-numeric.mdl-data-table__cell--non-numeric:hover{
    border: 2px solid #5BAEED !important;
    background-color: #EBF7FF;
}
.booleanlistval{
    float: left;
    width: 80% !important;
}
.boollistel{
    margin-top: 1%;
}
.listdivscontent{
    min-height: 200px;
    max-height: 350px;
    overflow-y: scroll;
}
.badgelistcount{
    position: relative;
    /* display: inline-block; */
    padding: 0px !important;
    float: left !important;
    margin-left: 25px !important;
    margin-top: -6px !important;
}
.entriesbadgeright{
    margin-left: 38px;
    float: left;
    margin-top: -1px;
}
.errorsigntd{
    font-size: 15px;
    /* margin-left: -7px; */
    margin-right: 9px;
    color: #FB5050;
}
.zi10{
        z-index: 10;
}
.linaerprogfile{
    height: 9px !important;
    margin-top: 12px !important;
}
.pprogresslineaer{
        font-size: 20px;
    margin-top: 20px;
    color: #312D2D;
    float: left;
}
.pprogresslineaer99{
        font-size: 20px;
    float: right;
    color: #0D5186;
    font-weight: bold;
}
#loader{
    position: absolute;
    left: 48%;
    top: 50%;
}
.mdl-spinner {
    display: inline-block;
    position: relative;
    width: 40px !important;
    height: 40px !important;
}